nav> ul {
	list-style: none;
	text-align: center;
	margin-top:0;
	padding: 20px;
	display: inline-block;
}

nav {
	background: black;

}

body {
	margin:0;
}
nav>ul>li {
	padding: 20px;
	display: inline;
	margin-right: 25px;
	color: white;

}