
nav ul {
	list-style: none;
	text-align: center;
	margin-top:0;
	padding: 20px;
	display: inline-block;
}

nav a {
	text-decoration: none;
}

nav {
	background: black;

}


nav a:link, nav a:visited {
	color: white;
	

}

nav a:active {
	color:yellow;
}

body {
	margin:0;
}

nav ul li {
	padding: 20px;
	display: inline;
	margin-right: 25px;
	color: white;
	margin-top: 5px;
}

